.App {
  text-align: center;
}

.App-menu {
  display: inline;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h2 {
  margin: 0;
}

.App-body {
  background-color: #404858;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Body-row {
  height: calc(100%-5%);
  width: calc(100%-5%);
  margin: 5% 5%;
}

.Headshot {
  width: 25%;
  min-width: 300px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Body-info {
  width: 65%;
  min-width: 300px;
  height: 100%;
  padding: 0 5%;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
