@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
  box-sizing: border-box;
  height: 100vh;
  min-height: 100vh;
  min-width: 350px;;
}
*,*:before, *:after {
  box-sizing:inherit;
}

.App {
  text-align: center;
  height: auto;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.App-header ul {
  margin: 0;
  padding: 0;
}
.App-header li{
  display: inline-block;
}

.NavButton {
  width: 25vw;
  height: 70px;
  background-color: #282c34;
  color: white;
  font-family: 'Montserrat', serif;
  border: #1d2025;
  text-decoration: none;
  font-size: 1em
}

.NavButton:hover {
  background-color: #323946;
}

.App-body {
  background-color: #404858;
  height: auto;
  min-height: calc(100vh - 70px);
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("Background.svg");
  background-size: cover;
}

.Body-row {
  height: auto;
  min-height: calc(90vh - 70px);
  width: 95vw;
  margin: 5vh 5vw;
}

.Body-info {
  /*width: 65%;*/
  width: 100%;
  min-width: 300px;
  height: auto;
  min-height: calc(90vh - 100px);
  padding: 0 5%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: 'Montserrat', serif;
}

.Body-info h3 {
  color: #FF4D4D;
}

.Body-info a {
  color: white;
  text-decoration: none;
}

.Body-info a:hover {
  color: rgb(205, 232, 255);
}

.Icon {
  margin: 15px;
}

.ImageWide {
  width: 70vw;
  height: auto;
}

.App-footer {
  background-color: #282c34;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}